<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf</title>
</head>
<body>
<h1 th:text="${pageTitle}"></h1>
<div>
    <ul>
        <li th:each="scientist : ${scientists}">
            <span th:text="${scientist}"></span>
        </li>
    </ul>
    <ul>
        <li>
            <div th:text="${scientists[0]}"></div>
            <!--<div th:text="${capitalsOfTheWorld['The Netherlands']}"></div>-->
            <!--<div th:text="${capitalsOfTheWorld.Belgium}"></div>-->
            <!--<div th:text="${user.name}"></div>-->
            <!--<div th:text="${user.getName()}"></div>-->

        </li>
    </ul>
</div>
</body>
</html>