<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/application.css}">
</head>
<body>
<h1 class="text-4xl mx-4 mb-4 border-b-4 bordergreen-700" th:text="${pageTitle}">Thymeleaf</h1>
<!--<h1 th:text="#{dashboard.title}"></h1>-->
<div class="text-10xl mx-4 mb-4 border-b-4 bordergreen-700">
    <ul>
        <li th:each="scientist : ${scientists}">
            <span th:text="${scientist}"></span>
        </li>
    </ul>
</div>
<div class="p-6 max-w-sm mx-auto bg-white
            rounded-xl shadow-md flex
            items-center space-x-4">
    <div class="flex-shrink-0">
        <img alt="ChitChat Logo" class="h-12 w-12" src="/img/logo.svg">
    </div>
    <div>
        <div class="text-xl font-medium text-black">ChitChat</div>
        <p class="text-gray-500">You have a new message!</p>
    </div>
</div>
</body>
</html>